a {
    text-decoration: none !important;
    ;
    color: #333;
}

body{
    background-color: #edf1f7;
    user-select: none;
    cursor: pointer;
}
/* 手机界面的时候 */
@media (max-width: 900px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .software-name {
        font-weight: bold;
        margin-bottom: 5px;
        /* width: 80%; */
        font-size: 15px;
    }
    .version-info{
        font-size:15px; 
        color:rgb(255, 255, 255);
        font-weight: normal;
        background-color: #28b96c;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 9px;
    }
    .software-description {
        color: #666;
        /* width: 80%; */
        font-size: 12px;
       
    }

    .header-bar-title h1 {
        display: none;
    }

    .header-bar-title img {
        width: 200px;
        height: 90px;
        color: #202020;
        -webkit-filter: invert(1);
        filter: invert(1);
    }
    .download-button {
        width: 80px;
        display: inline-block;
        text-decoration: none;
        /* margin-top: 22px; */
        border: 1px solid #3ace72;
        line-height: 34px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        background-color: #3ace72;
        border-radius: 5px;
        margin-right: 10px;
    }
}
/* 电脑网页的时候 */
@media (min-width: 900px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .software-name {
        font-weight: bold;
        margin-bottom: 5px;
        /* width: 80%; */
    }
    .version-info{
        font-size:15px; 
        color:rgb(255, 255, 255);
        font-weight: normal;
        background-color: #28b96c;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .software-description {
        color: #666;
        /* width: 80%; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* 限制在一个块元素显示的文本的行数*/
        overflow: hidden; /* 隐藏超出部分*/
        text-overflow: ellipsis; /* 溢出时显示省略号*/
    }

    .header-bar-title h1 {
        display: inline-block;
        width: 100%;
    }

    .header-bar-title img {
        width: 200px;
        height: 90px;
        color: #202020;
        -webkit-filter: invert(1);
        filter: invert(1);
    }
    .download-button {
        width: 110px;
        display: inline-block;
        text-decoration: none;
        /* margin-top: 22px; */
        border: 1px solid #3ace72;
        line-height: 34px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        background-color: #3ace72;
        border-radius: 5px;
        margin-right: 10px;
    }
}


.software {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 120px;
    background-color: white;
}



.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

.software-info {
    flex-grow: 1;
}



.download-buttons {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    /* height: 100%; */
    grid-row-gap: 10px;
}



.download-button:hover {
    border-color: #4ae484;
    background-color: #4ae484;
}



.my-down-btns {
    width: 110px !important;
    height: 36px !important;
    display: inline-block;
    padding-right: 10px;
}

strong {
    color: red;
}

.footer-bar {
    margin-top: 10px;
    text-align: center;
    color: #666;
    font-size: 15px;
    padding: 10px;
}

.footer-bar a {
    text-decoration: underline !important;
    color: #28b96c;
}

@media only screen and (max-width: 600px) {
    .software {
        width: 100%;
    }
}